
footer.Footer 
    .container 
        .menu-footer.d-flex.align-item-center.justify-content-between
            .item 
                a(href="#")
                    img(srcset="./assets/images/logowhite.png 2x" alt="Shopdi")
                p.company.title-footer Công ty cổ phần SHOPDI 
                p.address Công ty Cổ phần Shopdi Địa chỉ trụ sở: số 4 Trần Nhật Duật, P. Tân Định, Q.1, TP. Hồ Chí Minh Mã số thuế 0317185857 Giấy Chứng nhận đăng ký Doanh nghiệp lần đầu ngày 07/03/2022 cấp bởi Phòng Đăng ký kinh doanh, Sở Kế hoạch và Đầu tư TP.HCM
                //- +ListItem({className: 'horizon white ',styleLinkClass: 'black', array: dataListFooterFirst}, true)
                img(srcset="./assets/images/notifi.png 2x" alt="Shopdi").notifi
            
            .item.item2
                .title
                    p.title-footer.help Hỗ trợ khách hàng 
                    img(srcset="./assets/images/plus.png 2x" alt="Shopdi").plus
                    img(srcset="./assets/images/minus.png 2x" alt="Shopdi").minus
                +ListItem({className: 'horizon white pd ',styleLinkClass: 'black', array: dataListSupport}, true)
            
            .item.item2
                .title
                    p.help.title-footer Về Shopdi
                    img(srcset="./assets/images/plus.png 2x" alt="Shopdi").plus
                    img(srcset="./assets/images/minus.png 2x" alt="Shopdi").minus
                +ListItem({className: 'horizon white pd ',styleLinkClass: 'black', array: dataListShopdi}, true)

            .item 
                p.help.title-footer.pdhelp TẢI ỨNG DỤNG 
                .item__app 
                    img(srcset="./assets/images/downand.png 2x" alt="Shopdi")
                    img(srcset="./assets/images/downapple.png 2x" alt="Shopdi")
                p.help.title-footer.pdhelp KẾT NỐI VỚI CHÚNG TÔI 
                .item__app 
                    img(srcset="./assets/images/facebook.png 2x" alt="Shopdi")
                    img(srcset="./assets/images/youtube.png 2x" alt="Shopdi")
                    img(srcset="./assets/images/telegram.png 2x" alt="Shopdi")
                    img(srcset="./assets/images/twitter.png 2x" alt="Shopdi")
                    img(srcset="./assets/images/zalo.png 2x" alt="Shopdi")
                    img(srcset="./assets/images/medium.png 2x" alt="Shopdi")
            
            .item 
                p.help.title-footer.pdhelp Phương thức thanh toán 
                .item__bank 
                    img(srcset="./assets/images/VISA.png 2x" alt="Shopdi")
                    img(srcset="./assets/images/momo.png 2x" alt="Shopdi")
                    img(srcset="./assets/images/ZaloPay.png 2x" alt="Shopdi")
                    img(srcset="./assets/images/VNPay.png 2x" alt="Shopdi")
                    img(srcset="./assets/images/MASTERCARD.png 2x" alt="Shopdi")
                    img(srcset="./assets/images/JCB.png 2x" alt="Shopdi")

        p.copyright-footer.desc-footer © 2022. Bản quyền Công Ty Cổ Phần Shopdi