nav.Navigation
   .container
      +ListItem({className: 'horizon ',styleLinkClass: 'black', array: dataListItem})
      .other 
         .download 
            p Download App 
            img(srcset="./assets/images/appleblack.png 2x" alt="Shopdi")
            img(srcset="./assets/images/robotblack.png 2x" alt="Shopdi")
         .otherh.d-flex.align-item-center.justify-content-between
            p.desc.support Hỗ trợ
            p.desc.hotline Hotline: 
               span 1900 6789
