/* https://chir.ag/projects/name-that-color */

:root {
  --black-bg: #222631;
  --yellow-cl: #f9c814;




  --black: #111;
  --black-alpha-04: rgba(0, 0, 0, 0.4);
  --black-alpha-03: rgba(0, 0, 0, 0.3);
  --white: #ffffff;
  --white-alpha-03: rgba(255, 255, 255, 0.3);
  --white-alpha-02: rgba(255, 255, 255, 0.2);
  --mid-gray: #67676E;
  --mid-gray-alpha-05: rgba(103, 103, 110, 0.5);
  --alto: #E0E0E0;
  --alto-alpha-03: rgba(224, 224, 224, 0.3);
  --vermilion: #FF3D00;
  --emperor: #4f4f4f;
  --red: #E70000;
  --red-alpha-75: rgba(231, 0, 0, 0.75);
  --azure-radiance: #097BE4;
  --azure-radiance-alpha-01: rgba(9, 123, 228, 0.1);
  --azure-radiance-alpha-75: rgba(9, 123, 228, 0.75);
  --science-blue: #0065CA;
  --science-blue-alpha-01: rgba(0, 101, 202, 0.1);
  --science-blue-alpha-03: rgba(0, 101, 202, 0.3);
  --mine-shaft: #333333;
  --mine-shaft-alpha-05: rgba(51, 51, 51, 0.5);
  --yellow-orange: #FFBD3C;
  --cream-can: #F2C94C;
  --gray: #828282;
  --alabaster: #F8F8F8;
  --silver: #b9b9b9;
  --manatee: #91909A;
  --mercury: #E6E6E6;
  --pale-sky: #6C757D;
  --gallery: #EFEFEF;
  --orange: #CE540A;
  --orange-peel: #F39F00;
  --orange-peel-alpha-35: rgba(243, 159, 0, 0.35);
  --orange-peel-alpha-15: rgba(243, 159, 0, 0.15);
  --tangerine: #E29502;
  --forest-green: #27AE34;
  --mountain-meadow: #13B871;
  --shamrock: #2DCE89;
  --chateau-green: #39B54A;
  --chateau-green: rgba(57, 181, 74, 0.3);
  --cod-gray: #161616;
  --cod-gray-alpha-05: rgba(22, 22, 22, 0.5);
  --ghost: #CED4DA;
  --shark: #212529;
  --concrete: #F2F2F2;
  --wild-sand: #F4F4F4;
  --jaguar: #02010E;
  --jaguar-alpha-75: rgba(2, 1, 14, 0.75);
  --bgGray: #f5f5f5;
  --color-success: #4ea54e;
  --color-light: #888;
}
