-
  const dataListItem = [
    {title: 'Trang chủ'},
    {title: 'Lợi ích'},
    {title: 'Chính sách'},
    {title: 'Đăng ký'},
    {title: 'Chương trình'},
    {title: 'FAQ'},
    {title: 'Tải xuống'},
  ]

  const dataListSupport = [
    {title: 'Hotline và chat trực tuyến (24/7)'},
    {title: 'Trung tâm hỗ trợ'},
    {title: 'Gửi yêu cầu hỗ trợ'},
    {title: 'Hỗ trợ khách hàng:support@shopdi.io'},
    {title: 'Hướng dẫn đặt hàng và thanh toán'},
    {title: 'Quy chế hoạt động website'},
    {title: 'Điều khoản sử dụng'},

  ]
  
  const dataListShopdi = [
    {title: 'Thông tin dự án'},
    {title: 'Chính sách đổi Shopdi Xu'},
    {title: 'Chính sách bảo mật'},
    {title: 'Chính sách quyền riêng tư'},
    {title: 'Chính sách kiểm hàng, đổi trả và hoàn tiền'},

  ]

  
  //- const dataCardInfoStatistical1 = [
  //-   { icon: './assets/icons/icon-traffic-light.svg', label: 'Số thành viên: ', value: '319234' },
  //-   { icon: './assets/icons/icon-login.svg', label: 'Đang trực tuyến: ', value: '312' },
  //-   { icon: './assets/icons/icon-walk.svg', label: 'Khách:', value: '15' },
  //- ]
  //- const dataListItemgroup = [
  //-   {title: 'BUY PROXY', link: 'BuyProxy.html'},
  //-   {title: 'PRICES', link: 'Price.html'},
  //-   {title: 'FAQ', link: '#'},
  //-   {title: 'Partnership program', link: 'PartnerShip.html'},
  //- ]
  //- const dataNavigation = [
  //-   {title: 'Proxy checker', link: 'ProxyChecker.html'},
  //-   {title: 'My Ip', link: '#'},
  //-   {title: 'My anonymity', link: '#'},
  //-   {title: 'Blacklist', link: '#'},
  //-   {title: 'Whois', link: '#'},
  //-   {title: 'Ports scanner', link: '#'},
  //-   {title: 'Website IPv6 support', link: '#'},
  //-   {title: 'API', link: '#'},
  //- ]
  //- const dataFooter = [
  //-   {title: 'Proxy checker', link: '#'},
  //-   {title: 'Prices', link: '#'},
  //-   {title: 'FAQ', link: '#'},
  //-   {title: 'Blog', link: '#'},
  //-   {title: 'API', link: '#'},
  //-   {title: 'Terms of use', link: '#'},
  //-   {title: 'Contacts', link: '#'},
  //- ]
  //- const paymentMethod = [
  //-   {
  //-     'src' : 'https://proxy6.net/static/img/pay_ya.png'
  //-   },{
  //-     'src' : 'https://proxy6.net/static/img/pay_ya.png'
  //-   },{
  //-     'src' : 'https://proxy6.net/static/img/pay_ya.png'
  //-   },{
  //-     'src' : 'https://proxy6.net/static/img/pay_ya.png'
  //-   },{
  //-     'src' : 'https://proxy6.net/static/img/pay_ya.png'
  //-   },{
  //-     'src' : 'https://proxy6.net/static/img/pay_ya.png'
  //-   },
  //- ]
  //- const features = [
  //-   {
  //-     title: 'Check IPv4 and IPv6 proxy availability',
  //-     link: '#'
  //-   },{
  //-     title: 'Check IPv4 and IPv6 proxy availability',
  //-     link: '#'
  //-   },{
  //-     title: 'Check IPv4 and IPv6 proxy availability',
  //-     link: '#'
  //-   },{
  //-     title: 'Check IPv4 and IPv6 proxy availability',
  //-     link: '#'
  //-   },{
  //-     title: 'Check IPv4 and IPv6 proxy availability',
  //-     link: '#'
  //-   },{
  //-     title: 'Check IPv4 and IPv6 proxy availability',
  //-     link: '#'
  //-   },
  //- ]
  //- const CountryList = [
  //-   {
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'nl',
  //-     status: 'label-warning',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'ua',
  //-     status: 'label-default',
  //-     number: 222,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 1,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'nl',
  //-     status: 'label-warning',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'ua',
  //-     status: 'label-default',
  //-     number: 222,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 1,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'nl',
  //-     status: 'label-warning',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'ua',
  //-     status: 'label-default',
  //-     number: 222,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 1,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'nl',
  //-     status: 'label-warning',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'ua',
  //-     status: 'label-default',
  //-     number: 222,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 1,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'nl',
  //-     status: 'label-warning',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'ua',
  //-     status: 'label-default',
  //-     number: 222,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 1,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'nl',
  //-     status: 'label-warning',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'ua',
  //-     status: 'label-default',
  //-     number: 222,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 1,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'nl',
  //-     status: 'label-warning',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'ua',
  //-     status: 'label-default',
  //-     number: 222,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 1,
  //-   },
  //- ]
  //- const PriceCountryList = [
  //-   {
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'nl',
  //-     status: 'label-warning',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'ua',
  //-     status: 'label-default',
  //-     number: 222,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 1,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'nl',
  //-     status: 'label-warning',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'ua',
  //-     status: 'label-default',
  //-     number: 222,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 1,
  //-   },{
  //-     title: '',
  //-     country: 'ru',
  //-     status: 'label-success',
  //-     number: 13816,
  //-   },{
  //-     title: '',
  //-     country: 'nl',
  //-     status: 'label-warning',
  //-     number: 13816,
  //-   },
  //- ]